* {
  box-sizing: border-box;
}

body {
  background-color: #c05555;
  font-family: "Pacifico", cursive;
}

.header {
  text-align: center;
  color: white;
}

.container {
  display: flex;
}

.form-container {
  width: 30%;
  background-color: #333333;
  padding: 15px;
  border-radius: 10px;
  max-height: 380px;
  margin-right: 10px;
}

.form-container input {
  margin: 5px 0 5px 0;
  width: 100%;
  height: 35px;
  border-radius: 10px;
}

.form-container label {
  color: white;
}

#addBookButton {
  background-color: white;
  font-weight: bold;
  height: 35px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 5px 0;
}

.card-container {
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  background-color: #e8e8e8;
  flex-basis: 30%;
  max-width: 30%;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.removeButton {
  margin-bottom: 15px;
  background-color: #43658b;
  color: white;
  width: 50%;
  border: none;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
}

.status-btn {
  color: white;
  min-height: 25px;
  width: 50%;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
